.membership_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 40px;
}
.membership_text h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.membership_text a{padding: 0;}
.signUp_header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.signUp_header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}
.signUp_header_content{
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 10;
}
.signUp_header_content h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    width: 85%;
    margin-bottom: 10px;
}
.signUp_header_content p{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.member_box{
    width: 100%;
    padding: 70px 0;
}
.member_header{
    font-size: 1.4rem;
    font-weight: 500;
}
.benefit_content{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px 0;
}
.benefit{
    flex: 0 0 auto;
    width: 300px;
    height: 80vh;
    position: relative;
}
.benefit img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.benefit_text{
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
}
.benefit_text h5{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
.benefit_text h4{
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    line-height: 2rem;
    margin-bottom: 10px;
}
.second_one h5{color: #111;}
.second_one h4{color: #111;}
.second_one a{color: #fff;background-color: #111;}
.second_one a:hover{background-color: #666;}
/*--MEMBER CAN GET--*/
.members_info_content{
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    padding: 50px 0;
}
.m_i_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    margin: auto;
}
.m_i_content h5{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.m_i_content p{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
}
.membership_line{
    background: #ff0000;
    background: linear-gradient(265deg, rgba(255, 0, 0, 1) 0%, rgba(247, 86, 5, 1) 96%);
    width: 100%;
    margin: 50px 0;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    object-position: top center;
}
.line_content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.membership_line img{width: 30px;}
.membership_line h4{
    font: 100 1rem "Cormorant Garamond", serif;
    color: #fff;
    line-height: 0;
}
/**--CONNECT--*/
.member_connect_content{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}
.connect{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connect p{
    text-align: center;
}
.connect img{
    width: 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px #dddddd;
}
/*--FAG--*/
.mem_fag_content{
    display: flex;
    flex-direction: column;
}
.mem_fag{
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
    padding: 30px 0;
}
.mem_fag h3{
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fag_icon{
    font-size: 1rem;
    transition: .3s;
}
.mem_fag p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.mem_fag a{
    font-size: 1rem;
    font-weight: 600;
    color: #111;
    border-bottom: 1px solid #111;
    white-space: nowrap;
}
.membership_logo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    img{width: 60px;}
    span{
        font: 400 2rem "Cormorant Garamond", serif;
        line-height: 0;
    }
}
/**--DETAILS--*/
.detail_page{padding: 50px 0;}
.detail_page .container{width: 100%;}
.product_detail{
    display: flex;
    flex-direction: column;
}
.product_img{
    width: 100%;
    height: 500px;
    background-color: #eee;
}
.product_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product_info{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product_name{
    font-size: 1.5rem;
    font-weight: 500;
    color: #111;
}
.product_category{
    font-size: 1.1rem;
    font-weight: 700;
    color: #D33918;
}
.product_price{
    font-size: 1.1rem;
    font-weight: 600;
    color: #007B47;
}
.product_description{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 20px 0;
}
.detail_btns{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}
.detail_btns button{
    width: 100%;
    height: 60px;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.add_to_cart{
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
}
.fav_btn{
    background: none;
    border: 1px solid #CACACB;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.fav_btn_icon{
    line-height: 0;
    font-size: 1.7rem;
}


@media(min-width:768px){
    .member_header{font-size: 2rem;}
    .membership_text{display: none;}
    .signUp_header{height: 70vh;}
    .signUp_header img{object-position: top center;}
    .signUp_header_content{
        bottom: 50%;
        left: 50%;
        transform: translate(-50%,50%);
    }
    .signUp_header_content h1{
        font-size: 4rem;
        width: 100%;
        text-align: center;
    }
    .signUp_header_content .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .signUp_header_content p{
        margin-bottom: 20px;
        text-align: center;
    }
    .benefit_content{
        overflow: inherit;
        padding: 40px;
    }
    .benefit{
        flex: initial;
        width: 33.33%;
        height: 70vh;
    }
    .benefit_text{
        left: 10%;
        bottom: 10%;
    }
    .benefit_text h5{font-size: 1.2rem;}
    .benefit_text h4{font-size: 1.6rem;}
    .members_info_content{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: initial;
        padding: 50px;
    }
    .m_i_content{
        gap: 15px;
        width: 220px;
        margin: 0;
    }
    .m_i_content h5{font-size: 1.4rem;}
    .m_i_content p{font-size: 1.1rem;}

    .membership_line{gap: 200px;}
    .membership_line img{width: 80px;}
    .membership_line h4{
        font: 400 2rem Times;
        line-height: 0;
    }
    
    .member_connect_content{
        flex-direction: row;
        justify-content: space-between;
    }

    .mem_fag{padding: 50px 0;}
    .mem_fag h3{
        font-size: 1.7rem;
        font-weight: 500;
        padding: 50px 0;
    }
    .fag_icon{font-size: 1.5rem;}
    .mem_fag p{
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.5rem;
    }
    .mem_fag a{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .membership_logo{
        height: 70vh;
        gap: 5px;
        img{width: 90px;}
        span{
            font: 400 3rem "Cormorant Garamond", serif;
            line-height: 0;
        }
    }

    .detail_page .container{width: 90%;margin: auto;}
    .product_detail{flex-direction: row;}
    .product_img{
        width: 45%;
        height: 900px;
        border-radius: 20px;
        overflow: hidden;
    }
    .product_info{
        width: 40%;
        padding: 50px;
        margin: 0;
    }
    .product_name{font-size: 2.5rem;}
    .product_category{
        font-size: 2.1rem;
        font-weight: 500;
    }
    .product_price{font-size: 1.5rem;}
    .product_description{
        font-size: 1.5rem;
        font-style: italic;
    }
    .detail_btns{width: 450px;}
    .detail_btns button{
        height: 80px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .fav_btn{
        background: none;
        border: 1px solid #CACACB;
        color: #111;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .fav_btn_icon{font-size: 2.2rem;}
    .add_to_cart:hover{background-color: #666;}
    .fav_btn:hover{border-color: #111;}

}