.product_page .container{
    width: 100%;
}
.product_box{
    display: flex;
    flex-direction: column;
}
.filter_box1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.filter_close_btn{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99999;
    cursor: pointer;
    font-size: 1.7rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.all_product{
    display: flex;
    flex-direction: column;
}
.filter_box2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.filter_box2 .price_filter{display: none;}
.category_filter{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    border-bottom: 1px solid #666;
    padding: 20px 5%;
}
.category_filter::-webkit-scrollbar{display: none;}
.category_filter button{
    white-space: nowrap;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.price_filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.price_chooes{
    display: flex;
    align-items: center;
    gap: 10px;
}
.price_chooes label{
    cursor: pointer;
}
.products_items{width: 100%;}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 20px 0;
}
.product{
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.product_img{
    width: 100%;   
    height: 200px;
    background-color: #eee;
}
.product_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product_info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product_name{
    font-size: 1rem;
    font-weight: 500;
    color: #111;
}
.product_cat{
    font-size: 1rem;
    font-weight: 500;
    color: #D33918;
}
.product_price{
    font-size: 0.9rem;
    font-weight: 500;
    color: #007B47;
}
.product_top_line{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.sort_modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
    border-bottom: 1px solid #666;
}
.sort{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sort_btn button{
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.sort_modal button{white-space: nowrap;}

@media(min-width:768px){
    .product_page .container{width: 90%;}
    .product_top_line{position: relative;}
    .filter_close_btn{display: none;}
    .filter_box1{
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        width: 200px;
        height: fit-content;
        border-radius: 10px;
        box-shadow: 0 0 10px #eee;
    }
    .filter_box1 .price_filter{display: none;}
    .sort_modal{
        border: none;
        padding: 0;
    }
    .products{row-gap: 50px;}
    .product{width: 32%;}
    .product_img{height: 400px;}
    .product_top_line{padding: 15px 0;}
    .all_product{flex-direction: row; gap: 30px;}
    .category_filter{
        width: 300px;
        flex-direction: column;
        align-items: baseline;
        padding: 30px 0;
    }
    .filter_box2{width: 300px;}
    .filter_box2 .price_filter{display: flex;}

}