/**--HELP--*/
.help_modal{
    position: absolute;
    background-color: #fff;
    padding: 20px;
    top: 35px;
    right: 150px;
    z-index: 9999;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}
.help_modal .help_link:hover{color: #111;}
.help_modal .help_title{
    display: block;
    width: 100%;
    color: #111;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0;
}
.help_modal .help_link{
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: 5px 0;
    font-size: 0.8rem;
    font-weight: 600;
    color: #666;
}

/**--COUNTRY--*/
.country_modal{
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 1001;
}
.country_modal::-webkit-scrollbar{display: none;}
.cModal_close_btn{
    position: absolute;
    right: 30px;
    top: 55px;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #111;
    cursor: pointer;
}
.country_modal h1{
    font-size: 2rem;
    font-weight: 500;
    color: #111;
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}
.countries{
    width: 100%;
    margin-top: 20px;
}
.regions h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #111;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.region_countries{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.region_countries > :last-child{margin-bottom: 30px;}
.regions{border-bottom: 1px solid #e5e5e5;}
.region_countries a{
    border: 1px solid #CACACB;
    border-radius: 15px;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.country_info{
    display: flex;
    flex-direction: column;
}
.country_name{
    font-size: 1.1rem;
    font-weight: 600;
    color: #111;
}
.country_lang{
    font-size: 0.8rem;
    font-weight: 500;
    color: #666;
}

/*--SEARCH--*/
#search{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: red;
}
.search_content{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.popular_terms{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

@media(min-width:768px){
    .country_modal h1{width: fit-content;}
    .cModal_close_btn:hover{background-color: #666;}
    .cModal_close_btn{
        position: fixed;
        right: 50px;
    }
    .countries{
        width: 900px;
        margin: auto;
        padding: 30px 0;
    }
    .regions{border: none;}
    .regions h3{font-size: 2rem;}
    .region_icon{display: none;}
    .region_countries{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        height: fit-content;
    }
    .region_countries a{width: 200px;}
    .region_countries a:hover{background-color: #e5e5e5;}
    .region_countries > :last-child{margin: 0;}
}